{%extends 'base.html'%}
{%block title%}
Dashboard
{%endblock%}
{%block content%}
<center>
    <h1>Welcome to Dashboard</h1>
    <div>You have successfully logged in as {{ role }}</div>
</center>
{% if role =='user' %}
<center>
    <h1 class="heading">Hello {{ name }}</h1>
    <div>
        <h1>Your Previous Query :</h1>
        <div>{{ query }} </div>
        <h1>Your Ticket to the Query:</h1>
        <div>{{ ticket }}</div>
        <h1>Review Status of the Query:</h1>
        <div>{{ review }}</div>

    </div>

    <div>
        <div id="add_elem">
            <button id="form" class="btn btn-success" onclick="form_create()">Create Query</button>
            <a class="btn btn-primary" href="{{ url_for('home') }}" >Back to Home</a>
        </div>
    </div>
</center>

{% elif role=='agent' %}
<center>
    <h1>Welcome to Dashboard</h1>
    <div>You have successfully logged in as {{ role }}</div>
    
</center>
{% elif role=='admin' %}
<center>
    <h1>Welcome to Dashboard</h1>
    <div>You have successfully logged in as {{ role }}</div>
</center>
{% else %}
<h1>UnIdentified User</h1>
{% endif %}
{%endblock%}