{%extends 'base.html'%}
{%block title%}
Login Page
{%endblock%}
{%block content%}
<div class="container pd-20">
    <h1 style="margin-top:100px;">
        Welcome to Login page
    </h1>
    <form action="/Success" method="POST">
        <div class="form-group">
        User Id:<input class="form-control col-md-10" id="uid" type="text">
        Password:<input class="form-control col-md-10" id="passwd" type="password"></br>
            <input class="btn btn-success" type="submit" value="submit">
            <input class="btn btn-danger" type="reset" value="clear">
        </div>
        <div>
            <a href="/" class="btn btn-primary">< Back to Home</a>

        </div>
    </form>
</div>
{%endblock%}
